.flex {
	display: flex;
}

.inline-flex {
	display: inline-flex;
}

.flex-col {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.align-start {
	align-items: start;
}

.align-center {
	align-items: center;
}

.align-baseline {
	align-items: baseline;
}

.justify-center {
	justify-content: center;
}

.inline {
	display: inline;
}

.grid {
	display: grid;
	gap: var(--gap, var(--space-s));
}

.gap-1ch {
	gap: 1ch;
}

.gap-4xs {
	gap: var(--space-4xs);
}

.gap-3xs {
	gap: var(--space-3xs);
}

.gap-2xs {
	gap: var(--space-2xs);
}

.gap-xs {
	gap: var(--space-xs);
}

.gap-s {
	gap: var(--space-s);
}

.gap-m {
	gap: var(--space-m);
}

.gap-l {
	gap: var(--space-l);
}

.gap-xl {
	gap: var(--space-xl);
}

.gap-2xl {
	gap: var(--space-2xl);
}

.gap-3xl {
	gap: var(--space-3xl);
}
